.App {
  text-align: center;
  width: 100%;
}

h1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

#newGame {
  margin-bottom: 20px;
}

#gameBoard {
  width: fit-content;
  margin: auto;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
}

.card-front.flipped {
  transform: rotateY(0deg);
}

.card-back.flipped {
  transform: rotateY(180deg);
}

.card-front {
  height: 190px;
  width: auto;
  margin: auto;
  transform: rotateY(180deg);
  transition: transform 0.5s ease;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  height: 100%;
  width: 100%;
  transform: rotateY(0deg);
  transition: transform 0.5s ease;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card {
  height: 130px;
  width: 110px;
  border: 3px solid rgb(226, 154, 184);
  border-radius: 5%;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  justify-content: center;
  align-items: center;
  transform: rotateY(0deg);
  transition: transform 0.5s ease;
}

.card.flipped {
  transform: rotateY(180deg);
}
